.homepage {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "sidebar topbar topbar"
        "sidebar listings basket"
        "sidebar listings basket"
    ;

    grid-template-columns: 1fr 3fr 1fr ;
    grid-template-rows: 1fr 2fr 6fr;
}


.sidebar {
    grid-area: sidebar;
    height: 100%;
}
.topbar {
    grid-area: topbar;
    display: flex;
    width: 100%;

    align-items: center;
}

.listings {
    grid-area: listings;
    overflow: scroll;
}
.basket {
    grid-area: basket;
    padding: 10px;
}
